.mainContainer {
    width: 80vw;
    margin-top: 6vh;
    margin-left:10vw;
    margin-right: 10vw;
}

.mainTitleTextContainer {
    text-align: center;
}

.logoContainer {
    margin-bottom: 5vh;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.logoStyles {
    display: block;
    width: 100%;
}

.footerContainer {
    margin-top: 5vh;
    padding: 4px;
    text-align: center;
    background-color: black;
    color: white;
}

.navigationContainer {
    padding: 8px;
    background-color: black;
    color: white;
}

.navigationContainer > a:link, a:visited, a:link {
    color: white;
    text-decoration: none;
}

.navigationLinkStyles {
    margin-right: 2%;
}

@media only screen and (max-width: 600px) {

    .mainContainer {
        width: 100vw;
        margin-top: 6vh;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .logoContainer {
        margin-bottom: 5vh;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .navigationLinkStyles {
        margin-right: 10%;
    }
  }